
.page-wrapper {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-family: Arial, serif;
}

.app-button {
    height:50px;
    width:99%;
}

.app-button-small {
    height:50px;
    width:48%;
}

.info-box {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width:99%;
    border-radius: 0.25rem;
}

.w-95 {
    width: 95%;
}

.w-99 {
    width: 99%;
}

.textarea-small {
    width:99%;
}

.float-r {
    float:right;
}

.float-l {
    float:left;
}

.hp-50 {
    height: 50px;
}

.form-override {
    appearance: auto !important;
}