<!doctype html>
<html lang="de">
    <head>
	    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="app/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link href="app/css/app.css" type="text/css" rel="stylesheet" />
	    <title>Backup Box</title>
    </head>
    <body>
        <div class="page-wrapper">
            <h1>Backup-Box</h1>
            
            <main class="page-main">
                <div id="form">
                    <form method="post">
                        <p class="w-99 hp-50">
                            <input type="button" class="float-l app-button-small btn btn-secondary" name="refresh" value="Aktualisieren" onclick="window.location=window.location.href;return false;">
                            <input type="button" class="float-r app-button-small btn btn-secondary" name="refresh" value="Einstellungen" onclick="window.open('/settings','_self');">
                        </p>
                        <p><input type="submit" class="app-button btn btn-success" name="start" value="Backup starten"></p>
                        <p><input type="submit" class="app-button btn btn-warning" name="kill" value="Backup abbrechen"></p>
                        <p><input type="button" class="app-button btn btn-primary" name="refresh" value="Dateimanager" onclick="window.open('/files','_blank');"></p>
                        <p><input type="submit" class="app-button btn btn-danger" name="shutdown" value="Ausschalten"></p>
                    </form>
                </div>
                <div>
                    <p>Status:</p>
                    <textarea class="form-control w-99" id="status" rows="5" cols="41" readonly>{{ @output }}</textarea>
                </div>
                <div class="mt-3 mb-2">
                    <p>Last Log:</p>
                    <textarea class="form-control w-99" id="log" rows="15" cols="41" readonly>{{ @lastlog }}</textarea>
                </div>
            </main>
        </div>
        <script src="app/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
