<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="app/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="app/css/app.css" type="text/css" rel="stylesheet" />
		<title>Backup Box - Bereinigung</title>
	</head>
	<body>
		<div class="page-wrapper">
			<h1>Bereinigung</h1>

			<main class="page-main">

				<check if="{{ @output != '' }}">
					<div class="alert alert-success w-99">{{ @output }}</div>
				</check>

				<div id="form">
					<form method="post">
						<p class="info-box">
							<b>ACHTUNG!</b><br><br>
							Mit Durchführen einer Bereinigung werden alle
							aktuell vorhandenen Mountpunkte und deren
							Daten unwiederbringlich gelöscht!<br>
						</p>
						<p><input type="button" class="app-button btn btn-secondary" name="cancel" value="Zurück" onclick="window.open('/settings','_self');"></p>
						<p><input type="submit" class="app-button btn btn-danger" name="purge" value="Bereinigen"></p>
					</form>
				</div>
			</main>
		</div>
		<script src="app/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
