<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="app/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="app/css/app.css" type="text/css" rel="stylesheet" />
		<title>Backup Box - Einstellungen</title>
	</head>
	<body>
		<div class="page-wrapper">
			<h1>Einstellungen</h1>

			<main class="page-main">

				<check if="{{ @output != '' }}">
					<div class="alert alert-success w-99">{{ @output }}</div>
				</check>

				<div id="form">
					<form method="post">
						<check if="{{ @mounts == [] }}">
							<true>
								<p class="info-box">
									<br><b>Keine Geräte angeschlossen!</b><br><br>
								</p>
							</true>

							<false>
								<repeat group="{{ @mounts }}" value="{{ @mount }}" counter="{{ @cnt }}">
									<set sourceSelected = "" />
									<set targetSelected = "" />
									<set path = "" />

									<repeat group="{{ @config }}" key="{{ @key }}" value="{{ @value }}">
										<check if="{{ @key == @mount }}">
											<check if="{{ @value['type'] == 'S' }}">
												<set sourceSelected = "selected" />
											</check>
											<check if="{{ @value['type'] == 'T' }}">
												<set targetSelected = "selected" />
											</check>
											<set path = "{{ @value['path'] }}" />
										</check>
									</repeat>

									<p class="info-box">
										<input type='hidden' name='device[{{ @cnt }}][id]' value='{{ @mount }}'>
										<b>Gerät:</b><br>
										<input type='text' class="form-control w-95" value='{{ @mount }}' size='38' readonly><br>
										<b>Pfad:</b><br>
										<input type='text' class="form-control w-95" name='device[{{ @cnt }}][path]' value='{{ @path }}' size='38'><br>
										<b>Typ:</b><br>
										<select class="form-control form-override w-95" name='device[{{ @cnt }}][type]'>
											<option value='S' {{ @sourceSelected }}>Quelllaufwerk</option>
											<option value='T' {{ @targetSelected }}>Ziellaufwerk</option>
										</select><br>
									</p>
								</repeat>
							</false>
						</check>

						<p class="info-box">
							<b>Mount-Root:</b><br>
							<input type='text' class="form-control w-95" name='mount_root' value='{{ @mountRoot }}' size='38'><br>
							<b>Zielverzeichnis Datumsformat:</b><br>
							<input type='text' class="form-control w-95" name='date_format' value='{{ @dateFormat }}' size='38'><br>
						</p>

						<p><input type="button" class="app-button btn btn-secondary" name="refresh" value="Aktualisieren" onclick="window.location=window.location.href;return false;"></p>
						<p><input type="button" class="app-button btn btn-secondary" name="cancel" value="Zurück" onclick="window.open('/','_self');"></p>
						<p><input type="button" class="app-button btn btn-warning" name="purge" value="Bereinigung" onclick="window.open('/purge','_self');">
						<p><input type="submit" class="app-button btn btn-success" name="save" value="Speichern"></p>
					</form>
				</div>
			</main>
		</div>
		<script src="app/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
